@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
}

.btn-hover:hover {
  box-shadow: 5px 5px 0px 0px black;
  background-color: white;
  color: black;
  transform: translate(-5px, -5px);
  border: 1px solid black;
  transition: all 0.5s;
}

.raleway {
  font-family: "raleway", sans-serif;
}

.opacityAnime {
  animation: opacityAnime 300ms ease-in-out;
}

@keyframes opacityAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideUpModal {
  animation: slideUpModal 400ms ease;
}

@keyframes slideUpModal {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.disableScrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
